@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 217 33% 15%;

    --muted: 210 50% 90%;
    --muted-foreground: 210 50% 40%;

    --popover: 210 100% 95%;
    --popover-foreground: 210 100% 20%;

    --card: 210 100% 95%;
    --card-foreground: 210 100% 20%;

    --border: 210 50% 85%;
    --input: 210 50% 85%;

    --primary: 210 100% 30%;
    --primary-foreground: 210 100% 95%;

    --secondary: 210 50% 90%;
    --secondary-foreground: 210 100% 30%;

    --accent: 210 50% 90%;
    --accent-foreground: 210 100% 30%;

    --destructive: 210 100% 50%;
    --destructive-foreground: 210 100% 95%;

    --ring: 210 50% 70%;

    --radius: 0.5rem;

    /* custom for playground */
    --global-bg: #f9fafb;
    --border-color-base: #eaecf0;
  }

  .dark {
    --background: 210 100% 20%;
    --foreground: 210 100% 95%;

    --muted: 210 50% 30%;
    --muted-foreground: 210 50% 70%;

    --popover: 210 100% 20%;
    --popover-foreground: 210 100% 95%;

    --card: 210 100% 20%;
    --card-foreground: 210 100% 95%;

    --border: 210 50% 30%;
    --input: 210 50% 30%;

    --primary: 210 100% 95%;
    --primary-foreground: 210 100% 30%;

    --secondary: 210 50% 30%;
    --secondary-foreground: 210 100% 95%;

    --accent: 210 50% 30%;
    --accent-foreground: 210 100% 95%;

    --destructive: 210 100% 40%;
    --destructive-foreground: 210 100% 95%;

    --ring: 210 50% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 
 * chat history scroll area viewport 
 * 原来display:table, chat title导致overfow无效，
*/
.chat-history div[data-radix-scroll-area-viewport] > div {
  display: block !important;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* width of vertical scrollbar */
  height: 8px; /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300 */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* gray-400 */
  border: 2px solid transparent;
  background-clip: content-box;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}
